body{
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background: #fff;
    height: 400px;
    width: 400px;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 10px 10px 0 -1px rgba(0,0,0, .23);
}
.loading-shadow{
    background: #bcbcbc;
    min-height: 30px;
    position: relative;
    overflow: hidden;
}
.loading-shadow::before{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    animation: Loading .7s infinite;
    transform: translateX(-100%);
    background: linear-gradient(to right, transparent,#d3d3d3,transparent);
}
@keyframes Loading {
    100%{
        transform: translate(100%);
    }
}
.image-section{
    min-height: 200px;
}